<!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <footer>
            <br /><br/><br /><br /><br/><br /><br /><br/><br />
            <hr>
            CST336 Internet Programming. 2020&copy; Jabarkhel <br />
            <strong>Disclaimer:</strong> The information in this webpage is fictitous. <br />
            It is used for academic purposes only. <br /><br/>


        </footer>
        <!-- closing footer -->
        
    </body>
    <!-- closing body -->

</html>