<%- include ('partials/header') -%>
    <br /><br/><br />
        <header>
            <h1> What is SDLC? </h1>
        </header>
        <main>

            <figure id="me">
                <img src="https://www.continuitycompliance.org/wp-content/uploads/2017/10/SDLC-software-development-system-illustration.jpg" alt="What is SLDC?" />
            </figure>

            <div id="welcomeText">
                <br />
                SDLC or the Software Development Life Cycle is a process that produces software with the highest quality and lowest cost in the shortest time. SDLC includes a detailed plan for how to develop, alter, maintain, and replace a software system.
                <br/>
                SDLC involves several distinct stages, including planning, design, building, testing, and deployment. Popular SDLC models include the waterfall model, spiral model, and Agile model.
                <br /><br/>

            </div>

        </main>
        
<%- include ('partials/footer') -%>