<%- include ('partials/header') -%>
 
    <br /><br/><br />

        <header>
            <h1> How SDLC Works? </h1>
        </header>

        <br /><br />

        <main>

            <figure id="me">
                <img src="/img/SDLC-Methdodlogies.jpg" alt="How SLDC works?" />
            </figure>
            <div id="welcomeText">
                <br /><br />

            	SDLC works by bringing down the expense of programming improvement while at the same time
            	improving quality and shortening creation time. SDLC accomplishes these clearly dissimilar
            	objectives by following an arrangement that evacuates the run of the mill entanglements to
            	programming advancement ventures. That arrangement begins by assessing existing frameworks
            	for insufficiencies. Next, it characterizes the prerequisites of the new framework. 
            	It at that point makes the product through the phases of structure, advancement, testing, and sending.
            	By envisioning expensive errors like neglecting to approach the end client for proposals, SLDC can wipe
            	out excess revamp and sometime later fixes.
            </div>
            <br /><br/><br />
        </main>
        
<%- include ('partials/footer') -%>